/* .DocumentPage {
    display:flex;
} */


.AddDocumentPageForm{
    margin-top: 20px;
}


.DependencyInputGroup {
    display:flex;
}

.AddDependencyButton {
    align-self: center;
    height: 50%;
}