.StepCard {
    /* width: 100%; */
    position: relative;
    margin: 32px;
    min-height: 100px;
    background-color: rgba(0, 255, 0, 0.5);
    padding: 10px;
    display: flex;
    max-width: 80%;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(87,158,87,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(87,158,87,1);
    box-shadow: 6px 6px 5px 0px rgba(87,158,87,1);
}

.StepCardLeft {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 2px 4px 4px;
    width: 32px;
    height: 32px;
    border-radius: 0 0 0 100%;
    border-left: 6px solid white;
    border-bottom: 6px solid white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

.StepCardTitle {
    margin-top: 0;

}

.StepCardRight {
    flex: 1 1 auto;

}
.StepCardCheckbox {
    position: absolute;
    right: 4px;
    bottom: 4px;
}
.StepCardChecked{
}

.StepCardCheckbox:checked{
    background: lightgreen!important;
}