.StepContainer{
    border: 2px solid green;
    border-radius: 4px;
    margin: 2px 0px;
    position: relative;
    height: 36px;
    display:flex;
    background-color: greenyellow;
}

.StepContainer p{
    margin: 4px 4px;
}

.AddStepButton {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left:auto;
    align-self: center;
    flex: 0 0 auto;
    font-size: 1.4em;
}
