.StepContainer{
    position: relative;
    background-color: rgba(0, 255, 0, 0.5);
    display: flex;
    width: 100%;
    box-shadow: 6px 6px 5px 0px rgba(87,158,87,1);
}

.StepContainer p{
    margin: 4px 4px;
}

.AddStepButton {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left:auto;
    align-self: center;
    flex: 0 0 auto;
    font-size: 1.4em;
}
.RemoveStepButton {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left:auto;
    align-self: center;
    flex: 0 0 auto;
    font-size: 1.4em;
}

