.StepCardList{
    margin-top: 40px;
    margin: auto;
}

.StepView {
    margin: auto;
}

.RequiredDocument {
    background-color: #eee;
    border-radius: 10px;
}

.Title {
    font-family: 'Open-Sans';
}