.SuccessSection {
    margin: auto;
    width: 70%;
    background-color: #eee;
    border-color: green;
    border-radius: 40px;
    text-align: center;
}
.SuccessCheck {
    margin: auto;
    color: green;
    /* width: fit-content;
    height: fit-content; */
    font-size: 8em;
    
}