body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


:root {
    --darker-blue: rgb(84, 144, 201);
    --blue: rgb(109, 184, 255);
    --lighter-blue: rgb(206, 231, 255);

    --toolbar-icon-size: 1.4em;
    --input-border-radius: 12px;
    --toolbar-icon-border-radius: 12px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    min-width:30px;
    min-height:30px;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}